<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count = "10">
<listeners>
    <listener class-name="utilties.TestListener"/> <!-- Corrected name -->
</listeners>
  <test thread-count="5" parallel = "classes" name="Test1_parallel">
    <classes>
    <class name="tests.userTest"/>
     <class name="tests.userTest2"/>
     <!--<class name="runners.TestRunner"/>-->
    </classes>
  </test> <!-- Test -->
  <test thread-count="5"  name="Test2_sequnetial">
    <classes>
    <class name="tests.userTest"/>
     <class name="tests.userTest2"/>
     <!--<class name="runners.TestRunner"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
